.navlink-container {
    position: relative;
    height: 500px; /* Aumenta la altura inicial del banner */
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.navlink-container.expanded {
    height: 100vh; /* Altura expandida del banner */
}

.navlink-container img {
    width: 100%;
    height: 100%; /* Asegúrate de que la imagen ocupe toda la altura del contenedor */
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsión */
    transition: transform 0.3s ease-in-out;
}

/* Estilos para pantallas grandes */
@media (min-width: 768px) {
    .banner-container img {
        transform: scale(1.1); /* Escala la imagen un 10% más grande */
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .banner-container {
        height: 300px; /* Aumenta la altura inicial del banner en móviles */
    }

    .banner-container.expanded {
        height: 50vh; /* Altura expandida del banner en móviles */
    }

    .banner-container img {
        transform: scale(1.2); /* Escala la imagen un 20% más grande en móviles */
    }
}

.banner {
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.banner-buttons a {
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease; /* Transición suave para el color */
}

.navbar-nav .nav-link:hover {
    color: #ffcc00; /* Cambia el color al pasar el mouse */
}

/* Nueva sombra verde mejorada */
.navbar-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Aumentar la altura para el efecto de desenfoque */
    background: rgba(0, 128, 0, 0.3); /* Color de la sombra */
    filter: blur(10px); /* Desenfoque gaussiano */
    opacity: 0.7; /* Ajustar la opacidad */
}