@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }

    .card-img-top {
        height: auto;
        object-fit: contain;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 18px;
    }

    .card-text {
        font-size: 14px;
    }

    .card .btn {
        font-size: 14px;
        padding: 5px 10px;
    }
}

.news-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-card-image {
    height: 200px;
    overflow: hidden;
}

.news-card-image img {
    width: 100%;
    height: auto;
}

.news-description {
    flex-grow: 1;
}
